
body{
    width:100%;
    height: 100vh;
    overflow: hidden;
}  
#headerDiv{
    position: static;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 15%;
    z-index: 2;
    background: #FFFFFF;

}

.logo1BannerDiv{
    position: relative;
    top: -1%;
    left: -2%;
    width: 19.5%;
    height: 76%;
    text-align: center;
    
}

.textBannerDiv{
    position: relative;
    top: -47%;
    left:21%;
    align-content: center;
    width: 60%;
    height: 50%;
    font-family: sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    color: #000000;
    vertical-align:middle;
    text-shadow: #87adde 0.1em 0.1em 0.2em;
    
}

.barraDiv{
    position: relative;
    top: -1%;
    left: -0.55%;
    width: 100%;
    height: 1.4%;
    z-index: 2;
    background: #000000;
    
}

.contentCenterDiv{
    position:relative;
    top:-0.4%;
    left:-0.1%; 
    width: 99%; 
    height: 83%;
}


.textBannerUsuario{
    position: absolute;
    right: 2%;
    width: 60%;
    height: 50%;
    font-family: sans-serif;
    font-weight: bold;
    color: #000000;
    vertical-align:middle;
    text-shadow: #87adde 0.1em 0.1em 0.2em;
    
}
.dialogC{
    font-size: 0.83vw; 
    height:99% !important; 
    border-style: none;
    
}