

body{
    width:100%;
    height: 100vh;
    overflow: hidden;   
}  

.ui-widget-header {
     
     /*
    background: rgba(243,226,199,1)!important;
background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 32%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%)!important;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(32%, rgba(193,158,103,1)), color-stop(51%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)))!important;
background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 32%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%)!important;
background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 32%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%)!important;
background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 32%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%)!important;
background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 32%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 )!important;
*/
background: #4c4c4c;
background: -moz-linear-gradient css-gradieng-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%)!important;
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)!important;
background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)!important;

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 )!important;

    font-family: sans-serif;
    font-size: 0.9em !important;
    font-weight: bold !important;
    color: #ffffff !important;
    text-shadow:#000000  0.1em 0.1em 0.2em !important;  
}

.bienvenidoDiv{
    position: absolute;
    width: 100%;
    height: 5%;
    top: -18%;
    left: -1%;
    text-align: right;
    font-weight: bold;
    font-size: 1vw;
    color:#FFFFFF;
    text-shadow: black 0.1em 0.1em 0.3em;
    
    z-index: 99;
}

.ui-selectonemenu-filter-container{
     width: 90% !important;
}

.ui-selectonemenu-panel{
     width: 45% !important;
}
.ui-menu .ui-menu-list .ui-widget-header {

    font-family: sans-serif;
    font-size: 0.65em !important;
    font-weight: bold !important;
    color: #000000;
    vertical-align:middle;
    text-shadow: #87adde 0.1em 0.1em 0.2em;
}

.ui-menu .ui-menuitem-link {
    font-family: sans-serif;
    font-size: 0.65em !important;
    font-weight: bold !important;
    color: #000000 ;
    vertical-align:middle;
    text-shadow: #87adde 0.1em 0.1em 0.2em;
}

.fondoMenu{
    width:16% !important;
}

    .ui-datatable .ui-datatable-header {
        text-align: right !important;
        height: 40px;
    }
    .ui-outputpanel {
      text-align: right !important;
        height: 40px;
    }
     
    .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
        display: none;
    }

.ui-state-default {
/*
background:  #3f4c6b;
background: -moz-linear-gradient css-gradieng-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%)!important;
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)!important;
background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)!important;

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#131313',GradientType=0 )!important;
*/
background: rgb(63,76,107);
background: -moz-linear-gradient(top, rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%)!important; 
background: -webkit-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%)!important; 
background: linear-gradient(to bottom, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 )!important;

    font-family: sans-serif;
    font-size: 0.9em !important;
    color: #ffffff !important;
    text-shadow:#000000  0.0em 0.0em 0.1em !important;  
}

.ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    font-family: initial;
    font-size: 1.0em !important;
    background: #ffffff !important;
    color: #000000 !important;
}
.panelEvento {

    background: #ffffff !important;
    color: #000000 !important;
    font-family: sans-serif;
    font-size: 0.9em !important;
    font-weight: bold !important;
    color: #000000 !important;
    text-shadow: #ffffff 0.1em 0.1em 0.2em !important;  
}

.fondoAzul {

background: rgb(63,76,107); 
background: -moz-linear-gradient(top, rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%)!important; 
background: -webkit-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%)!important; 
background: linear-gradient(to bottom, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 )!important;

    font-family: sans-serif;
    font-size: 0.9em !important;
    color: #ffffff !important;
    text-shadow:#000000  0.1em 0.1em 0.2em !important;  
}

.fondoGris {

background: #666666;
    font-family: sans-serif;
    font-size: 0.9em !important;
    color: #ffffff !important;
    text-shadow:#000000  0.1em 0.1em 0.2em !important;  
}

.contenedor-columna-espacio{
    display: table-cell;
    width: 30%;
}

.tituloEvento {
    font-family: sans-serif;
    font-size: 1.3em !important;
    font-weight: bold !important;
    color: #000000 ;
    vertical-align:middle;
    text-shadow: #87adde 0.1em 0.1em 0.2em;
}